* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#library-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: rgb(78, 35, 4);
    height: 100%;
    width: fit-content;
    border: 2px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
}

.book {
    background-color: white;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.book h3 {
    color: #333;
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 3em;
    font-family: 'Dancing Script', 'Brush Script MT', cursive;
    font-weight: 600;
    text-align: center;
    color: #2c5530;
}

.book p {
    color: #666;
    margin: 5px 0;
    font-size: 0.9em;
}

.book:hover {
    background-color: yellow;
    transition: all 0.3s ease;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    min-height: 20px;
}

.button-section {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.button-section button {
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.status-button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
  background-color: rgb(166, 171, 19);
}

.remove-button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
  background-color: rgb(171, 19, 19);
}

.read-status {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}


.read-status.read {
  color: #2c5530;
}

.read-status.not-read {
  color: rgb(76, 11, 11);
}
